version: "3.9"
services:
  zookeeper:
    container_name: "zookeeper"
    image: "zookeeper"
    restart: always
    ports:
      - 2181:2181
      - 2888:2888
      - 3888:3888
    hostname: "zookeeper"
    environment:
      ZOO_MY_ID: 1
      ZOO_STANDALONE_ENABLED: "true"
  clickhouse-s0-r0:
    container_name: "clickhouse-s0-r0"
    image: yandex/clickhouse-server
    depends_on:
      - zookeeper
      - clickhouse-s0-r1
      - clickhouse-s1-r0
      - clickhouse-s1-r1
    restart: always
    ports:
      - 8123:8123
      - 9100:9000
    volumes:
      - "./common/config.xml:/etc/clickhouse-server/config.xml"
      - "./common/cluster.xml:/etc/clickhouse-server/conf.d/cluster.xml"
      - "./common/zookeeper.xml:/etc/clickhouse-server/conf.d/zookeeper.xml"
      - "./clickhouse-s0-r0/macro.xml:/etc/clickhouse-server/conf.d/macro.xml"
      - "./db-init-scripts/clickhouse:/docker-entrypoint-initdb.d"
    hostname: "clickhouse-s0-r0"
  clickhouse-s1-r0:
    container_name: "clickhouse-s1-r0"
    image: yandex/clickhouse-server
    depends_on:
      - zookeeper
    restart: always
    ports:
      - 8124:8123
      - 9101:9000
    volumes:
      - "./common/config.xml:/etc/clickhouse-server/config.xml"
      - "./common/cluster.xml:/etc/clickhouse-server/conf.d/cluster.xml"
      - "./common/zookeeper.xml:/etc/clickhouse-server/conf.d/zookeeper.xml"
      - "./clickhouse-s1-r0/macro.xml:/etc/clickhouse-server/conf.d/macro.xml"
    hostname: "clickhouse-s1-r0"
  clickhouse-s0-r1:
    container_name: "clickhouse-s0-r1"
    image: yandex/clickhouse-server
    depends_on:
      - zookeeper
    restart: always
    ports:
      - 8125:8123
      - 9102:9000
    volumes:
      - "./common/config.xml:/etc/clickhouse-server/config.xml"
      - "./common/cluster.xml:/etc/clickhouse-server/conf.d/cluster.xml"
      - "./common/zookeeper.xml:/etc/clickhouse-server/conf.d/zookeeper.xml"
      - "./clickhouse-s0-r1/macro.xml:/etc/clickhouse-server/conf.d/macro.xml"
    hostname: "clickhouse-s0-r1"
  clickhouse-s1-r1:
    container_name: "clickhouse-s1-r1"
    image: yandex/clickhouse-server
    depends_on:
      - zookeeper
    restart: always
    ports:
      - 8126:8123
      - 9103:9000
    volumes:
      - "./common/config.xml:/etc/clickhouse-server/config.xml"
      - "./common/cluster.xml:/etc/clickhouse-server/conf.d/cluster.xml"
      - "./common/zookeeper.xml:/etc/clickhouse-server/conf.d/zookeeper.xml"
      - "./clickhouse-s1-r1/macro.xml:/etc/clickhouse-server/conf.d/macro.xml"
    hostname: "clickhouse-s1-r1"
  postgres-fdw:
    depends_on:
      - clickhouse-s0-r0
    container_name: "postgres-fdw"
    build:
      context: .
      args:
        FDW_VERSION: "1.3.0"
        PG_VERSION: 12
      dockerfile: postgres_fdw.Dockerfile
    ports:
      - 15432:5432
    volumes:
      - "./db-init-scripts/postgres:/docker-entrypoint-initdb.d"
    hostname: "postgres-fdw"
    environment:
      POSTGRES_PASSWORD: "passwd"
      POSTGRES_METHOD_AUTH: "trust"

